# Análisis de ventas

### A partir de los datos de las ventas realizadas y de los datos de los clientes se lleva a cabo un análisis de las ventas.

In [1]:
import pandas as pd
import numpy as np

#### Datos de los clientes

In [2]:
clientes = pd.read_csv('Clientes.csv', sep=';')
clientes.head()

   Cliente    Nombre Sexo             Zona
0     9001     Ana_1    F     Buenos Aires
1     9002    Juan_1    M  Capital Federal
2     9003   Pedro_1    M  Capital Federal
3     9004  Romina_1    F     Buenos Aires
4     9005     Ana_2    F     Buenos Aires

#### Datos de las ventas

In [3]:
ventas = pd.read_csv('Ventas.csv')
ventas.head()

   Cliente       Fecha  Importe      Estado
0     9452  01/01/2020    51356  Completado
1     9567  01/01/2020    96994  Completado
2    10551  01/01/2020    33280  Completado
3     9320  01/01/2020    18045  Completado
4     9043  01/01/2020     2286  Completado

#### Combinamos ambos datasets

In [4]:
data = ventas.merge(clientes, on='Cliente')
data.head()

   Cliente       Fecha  Importe      Estado      Nombre Sexo             Zona
0     9452  01/01/2020    51356  Completado  Romina_113    F  Capital Federal
1     9452  23/01/2020    79480  Completado  Romina_113    F  Capital Federal
2     9452  01/02/2020     3701  Completado  Romina_113    F  Capital Federal
3     9452  24/03/2020     9367  Completado  Romina_113    F  Capital Federal
4     9452  12/07/2020    34220  Completado  Romina_113    F  Capital Federal

#### Pasamos la fecha a datetime

In [20]:
data['Fecha'] = pd.to_datetime(data['Fecha'],format='%d/%M/%Y', errors='coerce')

In [21]:
data.Fecha.dtypes

dtype('<M8[ns]')

#### Exportamos el dataset a un csv

In [22]:
data.to_csv('ventas_clientes.csv', index=False)

## Analizamos compras realizadas por distintos clientes. 
#### Info disponible: fecha de compra, numero de cliente, precio, el estado de la compra (completado o en viaje), nombre de la persona, sexo y ubicacion.

#### Cantidad de clientes

In [54]:
data.Cliente.nunique()

1624

#### Estado del viaje

In [55]:
data.Estado.value_counts()

Completado    6833
En Viaje        27
Name: Estado, dtype: int64

In [85]:
estado_enviaje = data[data['Estado'] == 'En Viaje']
estado_enviaje.head(5)

,Cliente,Fecha,Importe,Estado,Nombre,Sexo,Zona
14,9567,2020-01-07 00:12:00,25752,En Viaje,Pedro_142,M,Capital Federal
66,9456,2020-01-07 00:12:00,54804,En Viaje,Romina_114,F,Capital Federal
1079,10260,2020-01-07 00:12:00,57856,En Viaje,Romina_315,F,Buenos Aires
1152,10336,2020-01-07 00:12:00,75090,En Viaje,Romina_334,F,Capital Federal
1257,10575,2020-01-08 00:12:00,44888,En Viaje,Pedro_394,M,Buenos Aires

#### Cantidad de compras que hizo cada cliente

In [56]:
data.Cliente.value_counts()

9359     12
9827     11
9869     10
9504     10
9136     10
         ..
9054      1
10033     1
9947      1
10232     1
9297      1
Name: Cliente, Length: 1624, dtype: int64

#### Compras promedio por cliente por mes

In [57]:
(data.Cliente.value_counts().sum())/(data.Cliente.nunique())

4.224137931034483

In [65]:
data.Cliente.nunique()

1624

#### Gasto promedio por cliente por mes

In [64]:
(data.Importe.sum())/(data.Cliente.nunique())

213519.6379310345

#### Clientes que más gastaron y el porcentaje del total de ventas mensuales

In [46]:
clientes_caros = pd.DataFrame(data.Importe.groupby(by=data['Cliente']).sum())
clientes_caros = clientes_caros.sort_values(by='Importe', ascending=False)

In [48]:
clientes_caros['Porcentaje del total'] = (clientes_caros['Importe']*100)/(clientes_caros['Importe'].sum())

In [58]:
clientes_caros.head(20)

         Importe  Porcentaje del total
Cliente
9869      624944              0.180226
10377     614929              0.177338
10373     607407              0.175168
9576      593188              0.171068
10168     586896              0.169253
9625      555205              0.160114
10443     553345              0.159578
9590      548018              0.158041
9023      531153              0.153178
9827      530030              0.152854
9547      528582              0.152436
10411     526417              0.151812
9984      520446              0.150090
10136     512372              0.147762
9504      509925              0.147056
10327     507117              0.146246
9489      504602              0.145521
10619     499912              0.144168
9450      497504              0.143474
9223      488374              0.140841

#### Ventas realizadas por zona

In [61]:
data.Zona.value_counts()

Capital Federal    4127
Buenos Aires       1696
Cordoba             715
Santa Fe            322
Name: Zona, dtype: int64

#### Ventas por sexo

In [62]:
data.Sexo.value_counts()

F    3472
M    3388
Name: Sexo, dtype: int64